/** @format */

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: grid;
  row-gap: 1ch;

  height: 100vh;
}

.header-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.Header {
  font-family: Arial;
  color: red;
  border: black;
  border-style: solid;
  border-radius: 10px;
  justify-content: top;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.timer-style {
  border: black;
  border-style: solid;
  border-radius: 10px;
  justify-content: top;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  background: lightgreen;
  margin-bottom: 10px;
}

.Counter {
  font-size: xx-large;
}

.task-list {
  font-family: Arial;
  color: black;
  border: black;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 1ch;
  overflow-y: scroll;
  height: 50%;
  column-gap: 20px;
}

.input {
  font-family: Arial;
  color: red;
  border: black;
  border-style: solid;
  border-radius: 10px;
  justify-content: top;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.button {
  margin-left: 10px;
}
